<!-- Header with dropdown button-->
<div (click)="$event.stopPropagation()" class="d-flex align-items-center justify-content-between dateRange pl-3 pr-2 py-1" [sqTooltip]="'msg#dateRange.dateRangeTooltip' | sqMessage:{currentDate: auditService.infoCurrentFilter, trendRange: auditService.infoPreviousFilter}">
    <span>
        <i class="far fa-clock mr-2"></i>
        Period
    </span>
    <button class="btn btn-light btn-sm" (click)="toggleDateRangeOptions()" [sqTooltip]="showDateRangeOptions ? 'msg#facetCard.collapse' : 'msg#facetCard.expand' | sqMessage" placement="top">
        <i class="fas fa-chevron-{{showDateRangeOptions ? 'up' : 'down'}}"></i>
    </button>
</div>
<!-- Dropdown card with the content-->
<div class="card flex-column dateRange-options text-muted position-absolute" *ngIf="showDateRangeOptions" (click)="$event.stopPropagation()">
    <form [formGroup]="form">
        <!-- List of predefined filters -->
        <div class="d-flex flex-column py-2 px-2">
            <span class="pb-1">{{'msg#dateRange.predefinedDateRange' | sqMessage}}</span>
            <div class="d-flex flex-wrap">
                <button
                    *ngFor="let item of relativeTimeRanges"
                    type="button"
                    class="btn btn-outline-secondary btn-sm mr-1 mb-1"
                    [ngClass]="{active: item === auditService.currentFilter}"
                    (click)="setAuditRange(item)">
                    {{item | sqMessage}}
                </button>
            </div>
        </div>
        <!-- Custom date range selector -->
        <div class="d-flex flex-column py-2 px-2">
            <span class="pb-1">{{'msg#dateRange.absoluteDateRange' | sqMessage}}</span>
            <div class="d-flex flex-wrap">
                <sq-date-range-picker
                    [options]="{closedRange: true}"
                    [formControlName]="'dateRange'"
                    sqAdvancedFormValidation
                    [field]="'dateRange'"
                    [validationForm]="form">
                </sq-date-range-picker>
            </div>
        </div>
        <!-- Custom date range selector -->
        <div class="d-flex flex-column py-2 px-2">
            <span class="pb-1">{{'msg#dateRange.trendsCalculations.title' | sqMessage}}</span>
            <!-- Default mode checkbox -->
            <div class="custom-control custom-checkbox my-1">
                <input class="custom-control-input" type="checkbox" id="applySameRange" [formControl]="applySamePeriodForTrendsControl">
                <label class="custom-control-label" for="applySameRange" [sqTooltip]="'msg#dateRange.trendsCalculations.tooltip' | sqMessage">
                    {{'msg#dateRange.trendsCalculations.label' | sqMessage}}
                </label>
            </div>
            <!-- Select comparison period -->
            <div *ngIf="!applySamePeriodForTrendsControl.value" [sqTooltip]="'msg#dateRange.trendsCalculations.customPeriodTooltip' | sqMessage">
                <span class="pb-1">{{'msg#dateRange.trendsCalculations.customPeriod' | sqMessage}}</span>
                <div class="d-flex flex-wrap">
                    <sq-date-range-picker
                        [options]="{closedRange: true}"
                        [formControlName]="'customRangeForTrends'"
                        sqAdvancedFormValidation
                        [field]="'customRangeForTrends'"
                        [validationForm]="form">
                    </sq-date-range-picker>
                </div>
            </div>
        </div>
    </form>
</div>
