@import "@sinequa/components/theme/colors";
@import "@sinequa/components/theme/variables";

.dateRange {
    height: 40px;
    width: 220px;
    z-index: 100;
    background-color: #ddecff;
    border-radius: 0.25rem;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.08);

    & button {
        outline: none;
    }
    &-options {
        width: 220px;
        z-index: 100;
        margin-top: -2px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.btn-light {
    background-color: $facet-btn-light-bg;
    border-color: $facet-btn-light-border-color;

    &:hover,
    &.active {
        color: $facet-btn-light-active-color;
        background-color: $facet-btn-light-active-bg;
        border-color: $facet-btn-light-active-border-color;
    }

    &.active:hover {
        background-color: $facet-btn-light-active-bg;
        opacity: .6;
    }
}
