<div class="stat p-1" *ngIf="value;else noData">
    <div class="stat-wrapper">
        <span class="stat-value">{{value | sqNumber: (config?.numberFormatOptions || numberFormatOptions)}}</span>
    </div>
    <div class="d-flex h-30 align-items-end">
        <div [sqTooltip]="trendTooltip | sqMessage:{currentDate: currentRange, trendRange: previousRange, currentValue: value, previousValue: previousValue}" placement="bottom" [fallbackPlacements]="['bottom', 'top']" class="cursor-help">
            <span [ngSwitch]="trend" class="stat-trend">
                <span *ngSwitchCase="'increase'" [ngClass]="{'green': trendEvaluation === 'ok', 'red': trendEvaluation === 'ko'}">&uarr;</span>
                <span *ngSwitchCase="'decrease'" [ngClass]="{'green': trendEvaluation === 'ok', 'red': trendEvaluation === 'ko'}">&darr;</span>
                <span *ngSwitchCase="'stable'" class="stable">&harr;</span>
            </span>
            <span *ngIf="percentageChange" class="ms-1 stat-percentage"
                [ngClass]="{'green': trendEvaluation === 'ok', 'red': trendEvaluation === 'ko', 'stable': trendEvaluation === 'stable'}">
                {{percentageChange | sqNumber: ({style: 'percent', maximumFractionDigits: 1})}}
            </span>
        </div>
    </div>
</div>
<ng-template #noData>
    <div class="stat">
        <span class="stat-noData">{{'msg#dashboard.noDataToDisplay' | sqMessage}}</span>
    </div>
</ng-template>
