
<!-- Data buttons -->
<div class="d-flex align-items-center" *ngIf="data">
    
    <button type="button" class="btn btn-primary btn-sm mr-2" (click)="unselectRows()" sqTooltip="Unselect all rows" *ngIf="selectedRows">
        <i class="far fa-fw fa-check-square"></i> ({{selectedRows}})
    </button>
    <button type="button" class="btn btn-primary btn-sm mr-2" (click)="selectRows()" sqTooltip="Select all rows" *ngIf="!selectedRows">
        <i class="far fa-fw fa-square"></i>
    </button>
    
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary btn-sm" (click)="downloadCsv()" sqTooltip="Download as CSV">
            <i class="fas fa-fw fa-download"></i> Download
        </button>
        <button type="button" class="btn btn-primary btn-sm" (click)="copyToClipboard()" sqTooltip="Copy to clipboard as CSV">
            <i class="fas fa-fw fa-copy"></i> Copy
        </button>
    </div>
    <div class="custom-control custom-checkbox ml-3">
        <input class="custom-control-input" type="checkbox" [(ngModel)]="hideEmptyColumns" (ngModelChange)="toggleHideEmptyColumns()" id="hide-empty-columns">
        <label class="custom-control-label col-form-label-sm" for="hide-empty-columns" sqTooltip="Hide columns with no relevant data">
            Hide empty columns
        </label>
    </div>
</div>

<!-- Result tabs -->
<ul class="nav nav-tabs mt-2" *ngIf="resultTabs?.length">
    <li class="nav-item" *ngFor="let tab of resultTabs">
        <a class="nav-link" [ngClass]="{active: tab.selected}"
            [sqTooltip]="tab.selected? rows.length + ' rows x '+columns.length + ' columns' : ''"
            href="#" (click)="selectResultTab(tab)">
            {{tab.name}}<span *ngIf="tab.selected">&nbsp;({{rows.length}})</span>
        </a>
    </li>
</ul>

<!-- Data Table -->
<ag-grid-angular
    style="width: 100%; height: 400px;"
    class="ag-theme-balham mb-3"

    [rowData]="rows"
    [columnDefs]="columns"
    [defaultColDef]="defaultColDef"
    [enableBrowserTooltips]="true"
    [rowSelection]="'multiple'"
    
    (gridReady)="onGridReady($event)"
    (rowDataChanged)="onRowDataChanged($event)"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
    (selectionChanged)="onSelectionChanged($event)"
>
</ag-grid-angular>