<div class="d-flex align-items-center justify-content-between dateRange pl-3 pr-2 py-1">
    <span>
        <i class="far fa-clock mr-2"></i>
        {{displayedRange}}
    </span>
    <button class="btn btn-light btn-sm" (click)="toggleDateRangeOptions()" [sqTooltip]="showDateRangeOptions ? 'Collapse' : 'Expand' | sqMessage">
        <i class="fas fa-chevron-{{showDateRangeOptions ? 'up' : 'down'}}"></i>
    </button>
</div>
<div class="card flex-column dateRange-options text-muted position-absolute" *ngIf="showDateRangeOptions">
    <div class="d-flex flex-column py-2 px-2">
        <span class="pb-1">Relative time ranges</span>
        <div class="d-flex flex-wrap">
            <button
                *ngFor="let item of relativeTimeRanges"
                type="button"
                class="btn btn-outline-secondary btn-sm mr-1 mb-1"
                (click)="setAuditRange(item)">
                {{item}}
            </button>
        </div>
    </div>
    <div class="d-flex flex-column py-2 px-2">
        <span class="pb-1">Absolute time range</span>
        <div class="d-flex flex-wrap" [formGroup]="form">
            <sq-date-range-picker
                [options]="{closedRange: true}"
                [formControlName]="'dateRange'"
                sqAdvancedFormValidation
                [field]="'dateRange'"
                [validationForm]="form">
            </sq-date-range-picker>
        </div>
    </div>
</div>
