<div class="stat p-1" *ngIf="value;else noData">
    <div class="stat-title h-30" [sqTooltip]="config?.title | sqMessage">{{config?.title | sqMessage}}</div>
    <div class="stat-wrapper">
        <span class="stat-value">{{value}} {{config?.computation === 'percentage' ? '%' : ''}}</span>
    </div>
    <div class="d-flex h-30 align-items-end">
        <div>
            <span [ngSwitch]="trend" class="stat-trend">
                <span *ngSwitchCase="'increase'" [ngClass]="{'green': trendEvaluation === 'ok', 'red': trendEvaluation === 'ko'}">&uarr;</span>
                <span *ngSwitchCase="'decrease'" [ngClass]="{'green': trendEvaluation === 'ok', 'red': trendEvaluation === 'ko'}">&darr;</span>
                <span *ngSwitchCase="'stable'" class="stable">&harr;</span>
            </span>
            <span *ngIf="percentageChange" class="ml-1 stat-percentage"
                [ngClass]="{'green': trendEvaluation === 'ok', 'red': trendEvaluation === 'ko', 'stable': trendEvaluation === 'stable'}">
                {{percentageChange}} %
            </span>
        </div>
    </div>
</div>
<ng-template #noData>
    <div class="stat">
        <span class="stat-noData">No data to display.</span>
    </div>
</ng-template>
