<nav class="navbar navbar-expand sq-nav pb-0">
    <div class="container-fluid pb-2">

        <div class="d-flex">
            <img [src]="appLogo" alt="sinequa logo" height="40">
            <div class="audit-filters d-flex">
                <sq-audit-range-picker></sq-audit-range-picker>
                <sq-facet-card
                    *ngIf="filterData"
                    [collapsible]="true"
                    [startCollapsed]="true"
                    buttonsStyle="light"
                    [collapseOnClickOutside]="true"
                    [defaultTooltipPlacement]="'bottom'"
                    (click)="$event.stopPropagation()">
                    <sq-facet-multi
                        #facet
                        class="card position-absolute overflow-hidden"
                        [results]="filterData"
                        [facets]="facets"
                        [title]="facetFiltersName"
                        [icon]="facetFiltersIcon">
                    </sq-facet-multi>
                </sq-facet-card>
            </div>
        </div>

        <ul class="navbar-nav navbar-right align-items-center me-2">
            <sq-user-menu [enableDarkMode]="false" [enableHelp]="false" [showText]="true" icon="fa-regular fa-user"></sq-user-menu>
            <button type="button" class="btn btn-primary action-btn ms-1" *ngIf="loginService.complete" (click)="openHelpPage()" [sqTooltip]="'Help'" placement="bottom">
                <i class="fas fa-question"></i>
            </button>
            <sq-feedback-menu [style]="'primary'" [rightAligned]="true" class="ms-1" *ngIf="loginService.complete && enableUserFeedbackMenu"></sq-feedback-menu>
        </ul>

    </div>
</nav>

<div class="full-height px-3 py-2 d-flex flex-column" *ngIf="loginService.complete">
    <router-outlet></router-outlet>
</div>

<sq-notifications></sq-notifications>
