<button type="button" class="btn btn-outline-primary panorama-btn" (click)="togglePanorama()" [sqTooltip]="'Add widget' | sqMessage">
    <i class="fas fa-plus"></i>
</button>

<div class="card flex-column panorama text-muted position-absolute" *ngIf="showPanorama">
    <div *ngFor="let element of panorama" class="mb-3">
        <details>
            <summary>{{element.name}}</summary>
            <div class="d-flex flex-wrap">
                <button [sqIcon]="item.icon" type="button" class="btn btn-outline-secondary mx-1 my-1" *ngFor="let item of element.items" (click)="addWidget(item)">
                    <div class="button-text">{{item.text}}</div>
                </button>
            </div>
        </details>
    </div>
</div>
