
<div class="row mb-3">
    <h3 class="col-12">
        Autocomplete Web Services
        <span class="fas fa-info-circle small text-muted" 
            sqTooltip="The autocomplete web services generate suggestions (based on the query's input text), to feed the autocomplete box"></span>
    </h3>
        
    <div class="col-6 mb-2">
        <h5>
            Suggest Query
            <span class="fas fa-info-circle small text-muted" 
                sqTooltip="The suggest query must be defined in the configuration of the autocomplete web service. It is required by the Suggest Query web service below."></span>
        </h5>
        <select class="custom-select mb-2" [(ngModel)]="suggestQuery" (ngModelChange)="suggest()">
            <option *ngFor="let option of appService.suggestQueries" [value]="option">                  
                {{option}}
            </option>
        </select>
        
        <h5>
            Fields
            <span class="fas fa-info-circle small text-muted" 
                sqTooltip="It is possible to generate suggestions for one or multiple fields. This is required for the Suggest Field web service below, but optional for the Suggest Query web service."></span>
            <a href="#" class="small text-muted" (click)="clearSuggestFields()" *ngIf="suggestFields.length">
                clear
            </a>
        </h5>
        <select class="custom-select" multiple [(ngModel)]="suggestFields" (ngModelChange)="suggest()">
            <option *ngFor="let field of appService.fields" [value]="field">{{field}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>
            Suggest Query
            <span class="fas fa-info-circle small text-muted" 
                sqTooltip="The Suggest Query web service generates suggestions based on a pre-computed lexicon. The lexicon is typically derived from the content of the index."></span>
            <span class="small text-muted monospace">&nbsp;/api/v1/suggestquery</span>
        </h4>
        <div *ngIf="suggestsQuery$ | async as suggestsQuery">
            <sq-list-explorer [data]="suggestsQuery" [titleField]="'display'" [name]="'suggestions'"></sq-list-explorer>
        </div>
    </div>

    <div class="col-6">
        <h4>
            Suggest Field
            <span class="fas fa-info-circle small text-muted" 
                sqTooltip="The Suggest Field web service generates suggestions based on distributions computed on-the-fly by the engine, based on the content of specific index columns (the &quot;field(s)&quot;)"></span>
            <span class="small text-muted monospace">&nbsp;/api/v1/suggestfield</span>
        </h4>
        <div *ngIf="suggestsField$ | async as suggestsField">
            <sq-list-explorer [data]="suggestsField" [titleField]="'display'" [name]="'suggestions'"></sq-list-explorer>
        </div>
    </div>
    
</div>