
<strong *ngIf="!loginService.complete">Logged out</strong>
<button *ngIf="!principalWebService.principal && !authenticationService.userOverrideActive" class="btn btn-sm btn-primary ml-5" (click)="loginService.login()">Login</button>

<div *ngIf="loginService.complete">
    <strong>Login complete!</strong>
    <div class="btn-group d-inline ml-5" role="group">
        <button *ngIf="principalWebService.principal" class="btn btn-sm btn-secondary" (click)="logout()">Logout</button>
        <button *ngIf="principalWebService.principal && principalWebService.principal.isAdministrator" class="btn btn-sm btn-warning" (click)="overrideUser()">Override User</button>
        <button *ngIf="authenticationService.userOverrideActive" class="btn btn-sm btn-primary" (click)="loginService.overrideUser(undefined)">Revert Override User</button>
    </div>
    <div class="row mb-5 mt-2">
            
        <div class="col-4">
            <h3>Principal web service 
                <span class="fas fa-info-circle small text-muted" sqTooltip="The Principal Web Service retrieves information about the logged-in user (from the domain/partition data)"></span>
                <span class="small text-muted monospace d-block">/api/v1/principal</span>
            </h3>
            <sq-explorer [data]="principalWebService.principal" [name]="'principalWebService.principal'"></sq-explorer>
        </div>
        <div class="col-4">
            <h3>App web service 
                <span class="fas fa-info-circle small text-muted" sqTooltip="The App Web Service retrieves the configuration of the App defined on the Sinequa server"></span>
                <span class="small text-muted monospace d-block">/api/v1/app</span>
            </h3>
            <sq-explorer [data]="appService.app" [name]="'appService.app'"></sq-explorer>
        </div>
        <div class="col-4">
            <h3>User settings web service
                <span class="fas fa-info-circle small text-muted" sqTooltip="The User Settings Web Service retrieves preferences and user-specific objects stored on the server"></span>
                <span class="small text-muted monospace d-block">/api/v1/usersettings</span>
            </h3>
            <sq-explorer [data]="userSettingsWebService.userSettings" [name]="'userSettingsWebService.userSettings'"></sq-explorer>
            <hr />
            <button class="btn btn-danger" title="Reset all your User Settings" (click)="resetUserSettings()">Reset</button>
        </div>
        
    </div>

</div>