span.extractslocations {
    background-color: #ecdcdc
}

span.matchlocations {
    background-color: #e9cdcd
}

span.company {
    background-color: #c0e1ee
}

span.geo {
    background-color: #bef0e5
}

span.person {
    background-color: #ddecb8
}