@import "@sinequa/components/theme/sinequa";

@import "ngx-bootstrap/datepicker/bs-datepicker.css";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

// Icons definition
@import "icons";

// SBA components custom CSS overrides
@import "default-theme";

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

// Scroll bars

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}




