<div *ngFor="let element of data; let i=index">
    <a href="#" (click)="onClick(element)">
        <i class="fas fa-fw" [ngClass]="{'fa-chevron-right': element !== expanded, 'fa-chevron-down': element === expanded}"></i>
    </a>
    {{ element[titleField] }}
    <sq-explorer *ngIf="expanded === element" [data]="element" [name]="name+'['+i+']'" [pretty]="pretty">
    </sq-explorer>
</div>

<div *ngIf="data && data.length > 0">
    <span class="text-muted small">Total: {{size | sqMemorySize}}</span>
</div>

<div *ngIf="!data || data.length === 0">
    <span class="text-muted small">No data</span>
</div>