
.data {
    max-height: 500px;
    overflow: auto;
}

.pretty {
    font-family: monospace;
}

.key {
    color: rgb(136,19,145)
}

.string {
    color: rgb(196,26,22);
}

.number {
    color: rgb(28,0,207);
}

.boolean {
    color: rgb(28,0,207);
}