<div class="row my-2" *ngIf="statement && selects">
    <div class="col-2">
        <h5>SELECT</h5>
        <div class="clause-list">
            <ng-container *ngFor="let select of selects">
                <ng-container *ngTemplateOutlet="clause; context:{$implicit:select}">
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="col-1">
        <h5>FROM</h5>
        <div class="clause-list">
            <div *ngFor="let index of indexes" class="monospace clause" [title]="index">
                <span>{{index}}</span>
            </div>
        </div>
    </div>
    <div class="col-3">
        <h5>WHERE</h5>
        <div class="clause-list">
            <ng-container *ngFor="let whereClause of whereClauses">
                <ng-container *ngTemplateOutlet="clause; context:{$implicit:{clause: whereClause, short: whereClause, collapsed: true}}">
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="col-2" *ngIf="groupBy">
        <h5>GROUP BY</h5>
        <div class="clause-list">
            <div class="monospace clause"><span>{{groupBy}}</span></div>
        </div>
    </div>
    <div class="col-2" *ngIf="orderBy">
        <h5>ORDER BY</h5>
        <div class="clause-list">
            <div *ngFor="let clause of orderBy" class="monospace clause" [title]="clause">
                <span>{{clause}}</span>
            </div>
        </div>
    </div>
    <div class="col-1">
        <h5>SKIP</h5>
        <div class="clause-list">
            <div class="monospace clause" [title]="'SKIP '+skip"><span>{{skip}}</span></div>
        </div>
    </div>
    <div class="col-1">
        <h5>COUNT</h5>
        <div class="clause-list">
            <div class="monospace clause" [title]="'COUNT '+count"><span>{{count}}</span></div>
        </div>
    </div>
    <div class="col-2" *ngIf="forgetAbove">
        <h5>FORGET ABOVE</h5>
        <div class="clause-list">
            <div class="monospace clause" [title]="'FORGET ABOVE '+forgetAbove"><span>{{forgetAbove}}</span></div>
        </div>
    </div>

</div>

<div class="mt-2" *ngIf="statement && !selects">
    Failed to parse SQL
</div>

<ng-template #clause let-clause>
    <div class="monospace clause" [ngClass]="{collapsed: clause.collapsed}" [title]="clause.clause" (click)="clause.collapsed = !clause.collapsed">
        <span *ngIf="clause.collapsed">{{clause.short}}</span>
        <span *ngIf="!clause.collapsed">{{clause.clause}}</span>
    </div>
</ng-template>