
<!-- Query tabs -->
<ul class="nav nav-tabs mt-2">
    <!-- Tab list -->
    <li class="nav-item" *ngFor="let query of sqlService.queries; let i=index">
        <!-- Normal tab -->
        <a *ngIf="editedTab !== i" 
            class="nav-link" [ngClass]="{active: selectedTab === i}"
            href="#" (click)="selectTab(i)" (dblclick)="editTab(i)">
            {{query.name}}
            <button class="btn btn-link btn-xs py-0 px-1" (click)="deleteTab(i, $event)">
                <i class="fas fa-times"></i>
            </button>
        </a>
        <!-- Tab in edit mode -->
        <input *ngIf="editedTab === i"
            [(ngModel)]="editedTabName"
            type="text" placeholder="Tab name" spellcheck="false" autocomplete="off" sqAutofocus class="form-control form-control-sm"
            (blur)="endEditTab()" (keyup.enter)="endEditTab()">
    </li>
    <!-- Button to create a tab -->
    <li class="nav-item align-self-center">
        <button class="btn btn-link btn-xs py-0 ml-1" (click)="createTab()">
            <i class="fas fa-plus"></i>
        </button>
    </li>
</ul>

<!-- SQL editor -->
<div class="card mb-2 pt-1">
    <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="sqlValue"
        class="d-block"

        [ngStyle]="{'height.px': editorHeight}"
        [ngClass]="{'collapsing': collapsing}"

        (init)="onEditorInit($event)">
    </ngx-monaco-editor>
    <sq-loading-bar [active]="searchInProgress"></sq-loading-bar>
</div>