:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 1rem;
}

::ng-deep gridster {
    // allow dropdown to be visible when it's height
    // is taller than the widget's height
    gridster-item {
        overflow: visible;
        border-radius: 0.25em;
    }

    // always display gridster-item buttons while
    // dropdown list is visible
    gridster-item .btn-group .show {
        button {
            display: inline-block;
        }
        ~button {
            display: inline-block;
        }
    }

    // hide gridster-item buttons
    gridster-item[focus="false"] {
        button {
            display: none;
        }
    }

    // display gridster-item button on mouse over
    gridster-item:hover {
        button {
            display: inline-block;
        }
    }

    // gridster-item focused got a higher z-index
    // but below move-in z-index
    gridster-item[focus="true"] {
        z-index: 90 !important;
    }
}

.main-content {
    overflow-y: hidden;
}

.unsaved {
    color: indianred !important;
}

a.nav-link {
    cursor: pointer;
    user-select: none;
    .btn-focus, .dashboard-actions {
        visibility: hidden
    }
}

a.nav-link.active, a.nav-link:hover {
    .btn-focus, .dashboard-actions {
        visibility: visible
    }
}

.sq-nav-tabs {
    margin-top: -10px;
}


// Dashboard (Gridster)

gridster {
    background: transparent !important;
    z-index: 1;
    padding: 0px !important;
}

gridster-item.gridster-item-moving {
    z-index: 100 !important;
}

gridster-item.gridster-item-resizing {
    overflow: hidden;
}

.new-dashboard:hover {
    cursor: pointer;
    opacity: 0.7;
}

.sq-breadcrumb-item {
    color: var(--secondary);
}
