<div class="audit-filters d-flex">
    <sq-audit-range-picker></sq-audit-range-picker>
    <sq-facet-card
        *ngIf="(auditService.data$ | async)?.applications"
        [title]="'Applications'"
        [icon]="'fas fa-desktop'"
        [collapsible]="true"
        [startCollapsed]="true"
        [buttonsStyle]="isDark()? 'dark' : 'light'"
        >
        <sq-facet-multi #facet class="card position-absolute" [results]="(auditService.data$ | async)?.applications" [facets]="facets" [showProgressBar]="false" ></sq-facet-multi>
    </sq-facet-card>
</div>

<!-- Dashboard tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let dashboard of dashboardService.allDashboards; let i=index">
        <a
            class="nav-link"
            [ngClass]="{
                active: dashboard?.name === dashboardService.dashboard?.name,
                unsaved: !dashboardService.isDashboardSaved(dashboard)
            }"
            (click)="openDashboard(dashboard)">

            <i *ngIf="dashboardService.isDefaultDashboard(dashboard)" class="fas fa-bookmark"></i>
            {{dashboard?.name  | sqMessage}}
            <span *ngIf="!dashboardService.isDashboardSaved(dashboard)">*</span>

            <!-- Button to save tab modifications-->
            <button [sqIcon]="'fas fa-save'" [sqTooltip]="'msg#dashboard.saveTitle' | sqMessage" *ngIf="!dashboardService.isDashboardSaved(dashboard)" class="btn-focus btn btn-link btn-xs py-0 px-1 ml-1" (click)="saveDashboard(dashboard, $event)"></button>

            <!-- Button to bookmark a tab -->
            <button [sqIcon]="'far fa-bookmark'" [sqTooltip]="'msg#dashboard.setDefaultTitle' | sqMessage" *ngIf="!dashboardService.isDefaultDashboard(dashboard)" class="btn-focus btn btn-link btn-xs py-0 px-1" (click)="markAsDefaultDashboard(dashboard, $event)"></button>

            <!-- Button to share a tab -->
            <button [sqIcon]="'fas fa-share-alt'" [sqTooltip]="'msg#dashboard.shareTitle' | sqMessage" class="btn-focus btn btn-link btn-xs py-0 px-1" (click)="shareDashboard(dashboard, $event)"></button>

            <!-- Button to delete a tab -->
            <button [sqIcon]="'fas fa-times-circle'" [sqTooltip]="'msg#dashboard.deleteTitle' | sqMessage" class="btn-focus btn btn-link btn-xs py-0 px-1" (click)="deleteDashboard(dashboard, $event)"></button>
        </a>
    </li>
    <!-- Button to create a tab -->
    <li class="nav-item align-self-center">
        <button [sqIcon]="'fas fa-plus-circle'" [sqTooltip]="'msg#dashboard.newTitle' | sqMessage" class="btn btn-link btn-xs py-0 ml-1" (click)="newDashboard()"></button>
    </li>
    <div class="btn-group dashboard-actions" [sq-action-buttons]="{items: dashboardActions, style: 'link', rightAligned: true}"></div>

    <!-- export actions -->
    <div class="ml-auto">
        <sq-action-buttons [sq-action-buttons]="{items: [exportAction], style:'outline-primary', rightAligned: true}"></sq-action-buttons>
        <sq-widget-palette class="ml-2"></sq-widget-palette>
    </div>
    
</ul>

<gridster #gridster [options]="dashboardService.options" *ngIf="loginService.complete">
    <div #content>
        <gridster-item [item]="item" *ngFor="let item of dashboardService.dashboard.items; index as i" [attr.focus]="i === focusElementIndex">
            <sq-dashboard-item
                [config]="item"
                [dataset]="auditService.data$ | async"
                [previousDataSet]="auditService.previousPeriodData$ | async"
                [width]="item.width"
                [height]="item.height"
                [tooltipInfo]="!!item.info"
                [buttonsStyle]="isDark()? 'dark' : 'light'"
                (click)="setFocus(i, $event)">
            </sq-dashboard-item>
        </gridster-item>
    </div>
</gridster>
