
<!-- Action bar -->
<div class="form-inline">

    <button type="button" class="btn btn-success btn-sm" (click)="run()">
        <i class="fas fa-fw fa-play"></i> Run
    </button>
    
    <div *ngIf="engines" class="form-group ml-3">
        <label for="engine-control" class='col-form-label-sm'>Engine:</label>
        <select [(ngModel)]="selectedEngine"
            class="form-control form-control-sm ml-2" id="engine-control">
            <option></option>
            <option *ngFor="let engine of engines" [ngValue]="engine">{{engine.name}}</option>
        </select>
    </div>

    <span class="small text-muted ml-2" *ngIf="selectedEngine">
        <strong>{{ selectedEngine.running? 'Running':'Stopped' }}</strong> on <strong>{{selectedEngine.node}}</strong>
    </span>

    <div class="btn-group ml-auto" [sq-action-buttons]="docButtons"></div>
</div>

<!-- Monaco editor and query tabs management -->
<sql-editor #editor 
    [engine]="selectedEngine?.name"
    [searchInProgress]="searchInProgress"
    (queryChanged)="updateSelectedEngine()">
</sql-editor>

<!-- Stats -->
<div class="text-muted small mb-1" *ngIf="data">
    <span>Matching: {{data.attributes.matchingrowcount}} rows </span>
    <span class="ml-2" *ngIf="data.attributes.postgroupbymatchingrowcount">Post Group By: {{data?.attributes.postgroupbymatchingrowcount}} rows </span>
    <span class="ml-2">(Data: {{data.$size | sqMemorySize}} / Fetch time: {{data.attributes.rowfetchtime}} / Processing time: {{data.attributes.processingtime}} / HTTP round trip: {{data.$httpRoundTrip}} ms / Rendering: {{renderingTime}} ms)</span>
</div>

<!-- AG-Grid data table and actions -->
<sql-table
    [data]="data"
    (rowDataChanged)="onRowDataChanged($event)">
</sql-table>