
.nav.nav-tabs {
    // Make the tabs scrollable horizontally
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: none;

    // Resizing
    font-size: 0.875rem;

    .nav-link {
        padding: 0.3rem 0.7rem 0.2rem;
    }

}

.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.750rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

/* width */
::-webkit-scrollbar {
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
