<sq-facet-card
    [icon]="config.icon"
    [title]="config.title"
    [collapsible]="false"
    [actions]="actions"
    [actionsFirst]="false"
    [buttonsStyle]="buttonsStyle"
    [ngSwitch]="config.type">

    <ng-container *ngIf="!loading && !errorMessage">
        <!-- Timeline view-->
        <ng-container *ngSwitchCase="'timeline'">
            <sq-timeline
                *ngIf="config.chartType !== 'Grid'"
                [data]="timeSeries"
                [width]="innerwidth"
                [height]="innerheight"
                [showTooltip]="true"
                [curveType]="'curveStep'"
                [showLegend]="timeSeries?.length > 1"
                [legendHeight]="50"
                [legendYOffset]="8"
                [legendStyles]="{'justify-content': 'center', 'overflow-y': 'auto', 'width': '98%'}"
                (selectionChange)="updateAuditRange($event)">
            </sq-timeline>
            <ag-grid-angular
                *ngIf="config.chartType === 'Grid'"
                [ngClass]="'ag-theme-alpine'"
                [ngStyle]="{width: '100%', height: innerheight + 'px'}"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </ng-container>

        <!-- Statistic view -->
        <sq-audit-stat *ngSwitchCase="'stat'"
            [config]="config"
            [dataset]="dataset"
            [previousDataSet]="previousDataSet">
        </sq-audit-stat>

        <!-- Chart view -->
        <ng-container *ngSwitchCase="'chart'">
            <sq-fusion-chart
                #facet
                [hidden]="config.chartType === 'grid'"
                [results]="chartResults"
                [chart]="chart"
                [width]="innerwidth"
                [height]="innerheight"
                [aggregation]="config?.chartData?.aggregation"
                [type]="config.chartType || 'Column2D'"
                [types]="[
                    {type: 'Column2D', display: 'Columns 2D'},
                    {type: 'Bar2D', display: 'Bars 2D'},
                    {type: 'Pie2D', display: 'Pie 2D'},
                    {type: 'doughnut2d', display: 'Doughnut 2D'},
                    {type: 'Column3D', display: 'Columns 3D'},
                    {type: 'Bar3D', display: 'Bars 3D'},
                    {type: 'Pie3D', display: 'Pie 3D'},
                    {type: 'doughnut3d', display: 'Doughnut 3D'},
                    {type: 'grid', display: 'Grid'}
                ]"
                [autohide]="false"
                (initialized)="onChartInitialized($event)"
                (typeChange)="onChartTypeChange($event)">
            </sq-fusion-chart>
            <ag-grid-angular
                *ngIf="config.chartType === 'grid'"
                [ngClass]="'ag-theme-alpine'"
                [ngStyle]="{width: '100%', height: innerheight + 'px'}"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </ng-container>

        <!-- Grid view -->
        <ag-grid-angular
            *ngSwitchCase="'grid'"
            [ngClass]="'ag-theme-alpine'"
            [ngStyle]="{width: '100%', height: innerheight + 'px'}"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)"
            (columnResized)="onColumnResized($event)">
        </ag-grid-angular>

        <!-- Heatmap view -->
        <ng-container *ngSwitchCase="'heatmap'">
            <sq-heatmap
                [hidden]="config.chartType === 'Grid'"
                [data]="heatmapData"
                [width]="innerwidth"
                [height]="innerheight"
                [maxX]="40"
                [maxY]="40"
                (itemClicked)="onHeatmapItemClick($event)"
                [axisClickable]="false">
            </sq-heatmap>
            <ag-grid-angular
                *ngIf="config.chartType === 'Grid'"
                [ngClass]="'ag-theme-alpine'"
                [ngStyle]="{width: '100%', height: innerheight + 'px'}"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </ng-container>

    </ng-container>

    <div class="sq-loading" *ngIf="loading">
      <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="errorMessage" class="text-center alert-danger p-2 overflow-auto" [ngStyle]="{'height.px': innerheight}">
      {{errorMessage}}
    </div>

</sq-facet-card>
