<div class="row">

    <h3 class="col-12">
        Preview Web Service
        <span class="fas fa-info-circle small text-muted" sqTooltip="The preview web service returns the full list of entities and highlights for a given document and query"></span>
        <span class="small text-muted monospace">&nbsp;/api/v1/preview</span>
    </h3>

    <div class="col-2">
        <ul class="nav nav-pills flex-column results-list">
            <li class="nav-item w-100" *ngFor="let record of searchService.results?.records; let i=index">
                <a class="nav-link text-truncate" [ngClass]="{'active': i === selectedRecord}" href="#" (click)="open(i)">{{record.title}}</a>
            </li>
        </ul>
    </div>

    <div class="col-10" *ngIf="previewData">
        <sq-explorer [data]="previewData"></sq-explorer>
    </div>

    <div class="col-12 preview pt-2" *ngIf="downloadUrl">
        <div c>
            <strong>Document Cache Download URL 
                <span class="fas fa-info-circle small text-muted" sqTooltip="URL of the HTML document in the document cache. The xdownload web service returns the *highlighted* content (with HTML tags dynamically inserted in the document)"></span>
                :
            </strong> 
            <code class="wrap">
                {{previewData?.documentCachedContentUrl}}
            </code>
        </div>
        <div>
            <strong>Decoded URL
                <span class="fas fa-info-circle small text-muted" sqTooltip="The above URL is double-encoded. Once decoded, we can see that the URL contains the document id AND the search query (needed for relevant extracts and match locations)"></span>
                :
            </strong>
            <code class="wrap">
                {{decodedUrl}}
            </code>
        </div>
        <sq-preview-document-iframe [downloadUrl]="downloadUrl"></sq-preview-document-iframe>
    </div>



</div>